<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<header>
<div id="jumbotron" class="jumbotron">
  <p id="head" >{{title}} Weather App</p>

  <hr >
  <div class="lead">
        <a href="/">Weather</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
  
</div>

</header>





